*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    
    font-family: sans-serif;
}

.menu-bar{
    
    background: rgb(0, 77, 100);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;


}
.menu-bar ul li{
    width: 140px;
    margin: 10px;
    padding: 10px;

}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active1{
  
    width: 120px;
    height: 50px;
    background: url(ht1.jpg);
    background: #f1f5f4;

    margin-top: 15px;
    margin-left: -15px;
    margin: 10px;

    display: inline-flex;
    list-style: none;

    

}
.active,.menu-bar ul li:hover {
    background: #0dab84;
    border-radius: 3px;


}
.active1,.menu-bar ul li:hover {
    background: #0dab84;
    border-radius: 3px;


}
.menu-bar .fa{
    margin-right: 8px;

}
.sub-menu-1{
    display: none;
    
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #acfaed;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;


}